html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;

}

canvas {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  border: #100f14 1px solid;
  /* width: 500px; */
  /* height: 500px; */
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(#2c293b, #100f14);
  /* height: 1000px; */
  /* width: 1000px; */
}
